
$ctx = controls

.{$ctx}
  text-align: center;
  width: 100%;
  min-height 290px;
  background: #567ca4;

  &__volume
    position: relative;
    bottom: auto;
    width: 200px;
    margin: 30px auto 0;

  &__slider
    display inline-block
    width: 200px;

  &__icon
    &_name_play
    &_name_pause
      width 40px
      height 40px

    &_name_prev
    &_name_next
      font-size 30px
