.cover
  position relative
  width $sideWidth
  height $sideWidth

  &__name
    position absolute
    bottom 0
    width 100%
    padding 0 15px
    height 50px

  &__title
    display block
    font-size 18px
    line-height 20px

  &__artist
    font-size 13px
    display block
