
$ctx = info

.{$ctx}
  min-height 100px
  width 100%
  background rgba(#000, 0.8);
  text-align center;
  position: relative;

  &__title
    font-size: 22px;
    font-weight: 300;
    text-decoration: none;

  &__artist
    font-size: 12px;
    display: block;
    margin-top: 10px;

  &__left
  &__right
    width: 25px;
    position: absolute;
    top: 30px;
    left: 10px;

  &__right
    left: auto;
    right: 10px;

  &__center
    padding: 20px 20px 0;
