.player
  position relative
  color #fff
  background #5b5d5f
  text-align center
  width 320px


  &__current-time
    font-size: 48px;
    color: rgba(225, 225, 225, 0.4);
    padding: 15px 0 20px;
