$ctx = play-button

.{$ctx}
  padding 6px
  display inline-block
  vertical-align top
  background #577ca1
  border-radius 50%

  &.{$ctx}_style_light
    opacity 0.4

  &.{$ctx}_size_xs
    width 16px
    height 16px

  &.{$ctx}_size_s
    width 20px
    height 20px

  &.{$ctx}_size_m
    width 24px
    height 24px

  &.{$ctx}_size_l
    height 28px
    width 28px

  &.{$ctx}_size_xl
    height 34px
    width 34px
