$ctx = menu

.{$ctx}

  .{$ctx}__item
    border-bottom 1px solid #e7e7e7

  .{$ctx}__link
    display flex
    align-items center
    line-height 20px
    padding 10px 9px 10px 12px
    text-decoration none
    color #4C6B8F

  .{$ctx}__cover
    margin-right 8px
