$ctx = music
$headerHeight = 48px
$sideWidth = 320px;

@import 'blocks/**';

.{$ctx}
  font-family: 'Open Sans', sans-serif

  &__col
    float left
    width $sideWidth
    min-height 100%
    background #ccc
