$ctx = music
$headerHeight = 48px
$sideWidth = 320px;

html, body
  margin 0
  padding 0

@require 'blocks/**';

.{$ctx}
  font-family: 'Open Sans', sans-serif

  &__col
    float left
    width $sideWidth
    min-height 100%
    background #ccc
