$ctx = app
$playerHeight = 42px
$playerHeightMobile = 84px

body
  background #edeef0
  color #000
  margin 0
  padding 0
  direction ltr
  font-size 13px
  font-family -apple-system, BlinkMacSystemFont, Roboto, 'Open Sans', 'Helvetica Neue', sans-serif
  line-height 1.154
  font-weight 400
  -webkit-font-smoothing subpixel-antialiased
  -moz-osx-font-smoothing auto

.{$ctx}
  width 100%

  .{$ctx}__bar
    position fixed
    width 100%
    height 44px
    margin 0 auto
    bottom 0
    background #fafbfc
    border-top 1px solid #e7e8ec
    z-index 13
    display none

    +mobile()
      height ($playerHeight* 3)

    &_visible
      display block

    &:before
      content ''
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      background inherit
      filter blur(10px) saturate(2)

  .{$ctx}__header
    position fixed
    height 42px
    width 100%
    left 0
    top 0
    z-index 2

  .{$ctx}__body
    padding 42px 15px 0
    margin 0 auto
    width 100%
    max-width 1440px
    box-sizing border-box

    +mobile()
      padding 42px 5px 0

  &.{$ctx}_player .{$ctx}__body
    padding-bottom $playerHeight

    +mobile()
      padding-bottom ($playerHeight* 3)


  &.{$ctx}_player .{$ctx}__body
    bottom $playerHeight

    +mobile()
      bottom ($playerHeight* 3)
