$ctx = avatar

.{$ctx}
  display inline-block
  vertical-align top
  background center center no-repeat
  background-size 100%
  overflow hidden
  border-radius 50%

  .{$ctx}__image
    max-width 100%
    vertical-align top

  &.{$ctx}_size_xs
    width 16px
    height 16px
    background-size 14px 14px

  &.{$ctx}_size_s
    width 20px
    height 20px
    background-size 18px 18px

  &.{$ctx}_size_m
    width 24px
    height 24px
    background-size 22px 22px

  &.{$ctx}_size_l
    height 28px
    width 28px
    background-size 26px 26px

  &.{$ctx}_size_xl
    height 34px
    width 34px
    background-size 32px 32px
