body
  background #edeef0
  color #000
  margin 0
  padding 0
  direction ltr
  font-size 13px
  font-family -apple-system, BlinkMacSystemFont, Roboto, 'Open Sans', 'Helvetica Neue', sans-serif
  line-height 1.154
  font-weight 400
  -webkit-font-smoothing subpixel-antialiased
  -moz-osx-font-smoothing auto
