$ctx = auth

.{$ctx}
  margin 130px auto
  max-width 320px
  width 100%
  text-align center

  .{$ctx}__info
    padding 30px 0

  .{$ctx}__title
    font-size 21px
    font-weight normal

  .{$ctx}__desc
    font-size 14px
    margin-top 7px
    color #65686c
